/* BODY */

html{
    font-size: 100%;
    line-height: 1.2rem;
    -webkit-text-size-adjust: 100%;
    /* adjustments for phone /*
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: rgba(207, 226, 247, 1);
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0px;
}

/*----------------------Line Break-----------------------*/ 

/* GENERAL */
/* Fonts */
.large{
    font-weight: normal;
    line-height: normal;
    font-family: 'Delius', Montserrat, sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;  
    background-image: linear-gradient(135deg, rgb(250, 113, 283)0%, rgb(255, 142, 134)60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
}

.medium-spacing{
    font-weight: normal;
    line-height: normal;
    font-family: 'Delius', Montserrat, sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
    margin: 0px;
}

.medium-spacing-halfsize{
    font-weight: normal;
    line-height: normal;
    font-family: 'Delius', Montserrat, sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    margin: 0px;
}

.main-title-large{
    font-weight: normal;
    line-height: normal;
    font-size: 3rem;
}

.main-title{
    font-weight: normal;
    line-height: normal;
    font-size: 1.5rem;
}

.small{
    font-weight: normal;
    font-size: 0.7rem;
}

.quote{
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 1.5em;
}

.uppercase{
    text-transform: uppercase;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.colorful-letter{
		background-image: linear-gradient(135deg, #918CAB 0%, #CFE2F7 100%);
    /* this creates a gradient of colours in the text for a stylistic choice */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Background colors */
.purplegray{
    background-color: rgba(177, 172, 204, 1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}  

.purplegray-light{
    background-color: rgba(188, 189, 219, 1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}  

/* Setting alignments and sizing */
/* for the flexbox */
.wrapper{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px 20px;
}

.column{
    flex: 50%;
}

.w-900{
    max-width: 900px;
    margin: auto;
}

/* for the grid system */
.grid-system-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-system-4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

/* other */
.max-width{
    max-width: 450px;
}

.max-height{
    max-height: 350px;
}

.align-center{
    align-self: center;
}

.justify-content{
    justify-content: right;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.padding{
    padding: 20px;
}

.padding-top{
    padding-top: 20px;
}

.padding-right{
    padding-right: 20px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.padding-left{
    padding-left: 20px;
}

.margin-auto{
    margin: auto;
}

.margin-trbl10{
    margin: 10px;
}

